<footer class="footer bg-light fixed-bottom border-top">
  <div class="row align-items-center justify-content-lg-between">
    <div class="col-lg-6">
      <div class="ml-3 text-center text-lg-left text-muted">
        © 2020 <span class="text-info ml-1">Juno</span>
      </div>
    </div>
    <div class="col-lg-6">
      <ul class="nav nav-footer justify-content-center justify-content-lg-end">
        <li class="nav-item">
          <a routerLink="/docs/user-guide" class="nav-link text-success font-weight-lighter" target="_blank">
            User Guide
            <span class="badge badge-pill badge-danger">{{ version }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
