<div class="card bg-white">
    <h2 class="card-header">
        <span [innerHtml]="title">Data</span>
        <div class="btn-group float-right">
            <button id="jh-create-entity" class="btn btn-primary" [routerLink]="['new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span [jhiTranslate]="'app.create-' + contentType.name">
                    Create new Data
                </span>
            </button>
            <div class="btn-group" ngbDropdown>
                <button class="btn btn-secondary dropdown-toggle-split" ngbDropdownToggle></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem (click)="exportData()">
                        <fa-icon icon="download"></fa-icon>
                        <span>Export</span>
                    </button>
                    <button ngbDropdownItem [routerLink]="['import']">
                        <fa-icon icon="upload"></fa-icon>
                        <span>Import</span>
                    </button>
                    <button ngbDropdownItem *ngFor="let t of tasks" (click)="performTask(t)">
                        <fa-icon [icon]="t.icon" *ngIf="t.icon"></fa-icon>
                        <span [jhiTranslate]="t.name" class="d-none d-md-inline"></span>
                    </button>
                </div>
            </div>
        </div>
    </h2>
    <div class="card-body">

        <jhi-alert></jhi-alert>

        <div class="alert alert-warning" *ngIf="rows?.length === 0">
            <span [jhiTranslate]="'data.notFound'">No data found</span>
        </div>

        <div *ngIf="!isMobile" class="table-responsive" style="min-height: 550px;">
            <form (ngSubmit)="transition()">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                            <th *ngFor="let c of columns; let ci = index;" [jhiSortBy]="c.slug">
                                <strong [innerHtml]="c.name"></strong>
                                <fa-icon icon="sort"></fa-icon>
                            </th>
                            <th class="text-right">
                                <select class="custom-select" name="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="transition()" ngbTooltip="Items per page">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </th>
                        </tr>
                        <tr>
                            <th *ngFor="let c of columns">
                                <input *ngIf="!c.options" type="text" class="form-control" [name]="c.slug" [(ngModel)]="searchModel[c.slug]">
                                <select *ngIf="c.options" class="custom-select" [name]="c.slug" [(ngModel)]="searchModel[c.slug]">
                                    <option *ngFor="let o of c.options" [value]="o.value" [innerHTML]="o.label"></option>
                                </select>
                            </th>
                            <th class="text-right">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-info btn-sm">
                                        <fa-icon icon="search"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.search">Search</span>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-sm" (click)="clear()">
                                        <fa-icon icon="ban"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.reset">Reset</span>
                                    </button>
                                </div>
                            </th>

                        </tr>
                    </thead>
                    <tbody *ngIf="isReady && (rows?.length > 0)">
                        <tr *ngFor="let row of rows ;trackBy: trackId">
                            <td *ngFor="let c of columnKeys" [innerHTML]="renderCell(row, c)"></td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button type="button" [routerLink]="[row.id, 'view' ]" class="btn btn-info btn-sm">
                                        <fa-icon [icon]="'eye'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                    </button>
                                    <button type="button" [routerLink]="[row.id, 'edit']" class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                    </button>
                                    <button type="button" (click)="delete(row)" class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                    </button>
                                    <button type="button" *ngFor="let a of actions" class="btn btn-{{ a.className }}" (click)="performAction(a, row)">
                                        <fa-icon [icon]="a.icon" *ngIf="a.icon"></fa-icon>
                                        <span [jhiTranslate]="a.name" class="d-none d-md-inline"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <div *ngIf="isMobile" class="mobile-wrapper">

            <div class="card-columns">
                <div class="card" *ngFor="let row of rows ;trackBy: trackId">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li *ngFor="let c of columns; let ci = index;">
                                <div class="d-flex justify-content-between">
                                    <strong *ngIf="c.jhiTranslate" [jhiTranslate]="c.jhiTranslate"></strong>
                                    <strong *ngIf="!c.jhiTranslate" [innerHtml]="c.label"></strong>
                                    <em [innerHTML]="renderCell(row, c)"></em>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer btn-group">
                        <button type="button" [routerLink]="[row.id, 'view' ]" class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="button" [routerLink]="[row.id, 'edit']" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="button" (click)="delete(row)" class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                        <button type="button" *ngFor="let a of actions" class="btn btn-{{ a.className }}" (click)="performAction(a, row)">
                            <fa-icon [icon]="a.icon" *ngIf="a.icon"></fa-icon>
                            <span [jhiTranslate]="a.name" class="d-none d-md-inline"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [hidden]="rows?.length === 0 || !totalItems" class="card-footer">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="modal.dismiss()">&times;</button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this item?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-ticket" type="submit" class="btn btn-danger" (click)="modal.close()">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>
</ng-template>
