[Unit]
Description=TRANSNEXUS VNPT SPOOFING
After=network-online.target

[Service]
Environment=SPRING_PROFILES_ACTIVE=prod,vnpt
WorkingDirectory=/transnexus/vnpt-spoofing
ExecStart=/usr/bin/java -jar /transnexus/vnpt-spoofing/vnpt-spoofing.jar
SuccessExitStatus=143
User=transnexus
Group=transnexus
Restart=always

[Install]
WantedBy=multi-user.target

