<jhi-page-ribbon></jhi-page-ribbon>
<router-outlet name="navbar"></router-outlet>
<main id="main">
    <div class="page-without-sidebar pb-5">
        <div class="content-wrapper m-5">
            <router-outlet></router-outlet>
        </div>
    </div>
    <jhi-footer></jhi-footer>
</main>
<router-outlet name="popup"></router-outlet>
<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
