[Unit]
Description=TRANSNEXUS VNPT FRAUD MANAGEMENT
After=network-online.target

[Service]
Environment=SPRING_PROFILES_ACTIVE=prod,vnpt
WorkingDirectory=/transnexus/api-gateway
ExecStart=/usr/bin/java -jar /transnexus/api-gateway/api-gateway.jar
SuccessExitStatus=143
User=transnexus
Group=transnexus
Restart=always

[Install]
WantedBy=multi-user.target

