<h3 class="card-header text-center">Incoming Call Statistics</h3>
<div class="chart-wrapper"  style="max-height: 30vh; min-height: 20vh;" *ngIf="multi">
  <ngx-charts-area-chart-stacked
      [scheme]="colorScheme"
      [legend]="legend"
      [legendPosition]="legendPosition"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [timeline]="timeline"
      [results]="multi"
      (select)="onSelect($event)">
  </ngx-charts-area-chart-stacked>
</div>
