<div class="row justify-content-center" *ngIf="isReady">
    <div class="col-md-8">
        <jhi-alert></jhi-alert>
        <div *ngIf="model" class="card">
            <h2 class="card-header" [innerHtml]="title"></h2>
            <div class="card-body">
                <jhi-alert-error></jhi-alert-error>
                <form name="editForm" role="form" novalidate [formGroup]="form" readonly>
                    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
                </form>
            </div>

            <div class="card-footer">
                <button type="submit" (click)="previousState()" class="btn btn-info">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                </button>

                <button type="button" [routerLink]="['/data', svc, prop, model.id, 'edit']" class="btn btn-primary float-right">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                </button>
            </div>
        </div>
    </div>
</div>
