<div class="container-fluid">
    <div class="card">
        <div class="card-header" *ngIf="isReady">
            <form name="searchForm" role="form" (ngSubmit)="startTracing()" [formGroup]="searchForm">
              <div class="row">
              <div class="col-md-9">
                <formly-form [form]="searchForm" [model]="model" [fields]="fields" [options]="options">
                </formly-form>
              </div>

                <div class="col-md-3 text-right">
                    <button [disabled]="searchForm.invalid" type="submit" name="button" class="btn btn-success" (click)="startTracing()">
                        <fa-icon [spin]="tracing" icon="compass"></fa-icon> Trace
                    </button>
                    <button class="btn btn-danger" (click)="ngOnDestroy(); clearSession(); tracing = false">
                        <fa-icon icon="ban"></fa-icon> Stop
                    </button>
                    <button class="btn btn-secondary" (click)="ngOnDestroy(); clearSession(); model = {}; results = {}; smsLog = {}; tracing = false">
                        <fa-icon icon="sync"></fa-icon> Reset
                    </button>
                </div>
                </div>
            </form>
        </div>

        <!-- <div *ngIf="_.keys(smsLog).length > 0"><pre>{{ smsLog | json }}</pre></div> -->
        <div class="table-responsive" *ngIf="_.keys(results).length > 0">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Timestamp</th>
                        <th class="text-center">SMPP Trace</th>
                    </tr>
                </thead>
                <tbody *ngFor="let key of _.keys(results)">
                    <tr>
                        <th colspan="3" class="bg-dark text-white text-center" [innerHtml]="'MessageID: ' + key"></th>
                    </tr>
                    <tr *ngFor="let result of _.orderBy(results[key],['timestamp'],['asc']); let i = index">
                        <th [innerHtml]="i + 1 | number"></th>
                        <td [innerHtml]="result.timestamp"></td>
                        <td>
                            <ngb-accordion>
                                <ngb-panel title="{{ result.stage }}">
                                    <ng-template ngbPanelContent>
                                        <pre>{{ smsLog[key][result.detail] | json }}</pre>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
