<div class="container-fluid">
    <div class="card my-3">
        <div class="card-body">
            <h2 id="jhi-data-heading" [innerHtml]="title"></h2>

            <jhi-alert></jhi-alert>
            <form novalidate (ngSubmit)="save()" [formGroup]="form">
                <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
                <div class="d-flex justify-content-between">
                    <button type="reset" name="button" (click)="previousState()" class="btn btn-secondary">
                        <fa-icon icon="ban"></fa-icon>
                        <span>Cancel</span>
                    </button>
                    <button type="submit" name="button" [disabled]="form.invalid" class="btn btn-primary">
                        <fa-icon icon="save"></fa-icon>
                        <span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
